:root {
  --color-green: #54E6AF;
  --color-light-green: #B3FFE2;
  --color-dark-blue: #121725;
  --color-white: #FFFFFF;
  --color-dark-grey: #2C344B;
  --color-light-grey: #5A668A;
  --color-silver: #C2CBE5;
  --color-red: #FB3E3E;
}

:root {
  --font-family: "Chivo", sans-serif;
  --font-weight-light: 300;
  --font-weight-bold: 700;
  --font-size-title: 5.2rem;
  --font-size-title-tablet: 4.8rem;
  --font-size-title-mobile: 2.6rem;
  --font-size-body: 1.8rem;
  --font-size-btn: 1.4rem;
  --line-height-title: 62px;
  --line-height-body: 28px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0 auto;
  max-width: 1440px;
}

body {
  background-color: var(--color-dark-blue);
  background-image: url("../assets/desktop/bg-pattern-dots.svg"), url("../assets/desktop/image-host.jpg");
  background-repeat: no-repeat;
  background-position: right 90%, right center;
  color: var(--color-silver);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-light);
  margin: 102px 0 130px 165px;
  height: 100%;
}
@media only screen and (max-width: 1300px) {
  body {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 1250px) {
  body {
    background-position: right 90%, 120% center;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    background-position: right 90%, 140% center;
  }
}
@media only screen and (max-width: 1150px) {
  body {
    background-position: right 90%, 160% center;
  }
}
@media only screen and (max-width: 1110px) {
  body {
    background-position: right 90%, 180% center;
  }
}
@media only screen and (max-width: 1080px) {
  body {
    background-position: right 68%, 140% top;
    margin: 50px 0 257px 50px;
  }
}

h1, p {
  font-weight: var(--font-weight-light);
}

.button {
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-bold);
}

main {
  background-color: var(--color-dark-blue);
  margin-top: 103px;
  padding-top: 88px;
  height: 509px;
  width: 723px;
}
@media only screen and (max-width: 1080px) {
  main {
    height: 509px;
    width: 635px;
  }
}
main h1 {
  font-size: 5.2rem;
  line-height: var(--line-height-title);
  margin-bottom: 24px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1080px) {
  main h1 {
    font-size: var(--font-size-title-tablet);
  }
}
main .highlight {
  color: var(--color-green);
}
main p {
  line-height: var(--line-height-body);
  margin-bottom: 40px;
  padding-right: 278px;
}
@media only screen and (max-width: 1080px) {
  main p {
    padding-right: 200px;
  }
}
main form {
  margin-bottom: 64px;
}
main form input {
  background-color: var(--color-dark-grey);
  border: none;
  border-radius: 28px;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  height: 56px;
  width: 42.7rem;
  padding: 14px 32px;
}
main form input::placeholder {
  font-weight: var(--font-weight-bold);
}
main form .button {
  background-color: var(--color-green);
  border: none;
  border-radius: 28px;
  color: var(--color-dark-blue);
  height: 46px;
  width: 16.2rem;
  transform: translateX(-17.2rem);
}
main form .button:hover {
  background-color: var(--color-light-green);
  cursor: pointer;
}
main .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 187px;
}

/*# sourceMappingURL=index.css.map */
