:root {
  --color-green: #54E6AF;
  --color-light-green: #B3FFE2;
  --color-dark-blue: #121725;
  --color-white: #FFFFFF;
  --color-dark-grey: #2C344B;
  --color-light-grey: #5A668A;
  --color-silver: #C2CBE5;
  --color-red: #FB3E3E;
}

:root {
  --font-family: "Chivo", sans-serif;
  --font-weight-light: 300;
  --font-weight-bold: 700;
  --font-size-title: 5.2rem;
  --font-size-title-tablet: 4.8rem;
  --font-size-title-mobile: 2.6rem;
  --font-size-body: 1.8rem;
  --font-size-btn: 1.4rem;
  --line-height-title: 62px;
  --line-height-body: 28px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  max-width: 1440px;
}

body {
  background-color: var(--color-dark-blue);
  background-image: url("../assets/desktop/bg-pattern-dots.svg"), url("../assets/desktop/image-host.jpg");
  background-repeat: no-repeat;
  background-position: right 90%, right center;
  color: var(--color-silver);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-light);
  margin: 102px 0 130px 165px;
  height: 100%;
}
@media only screen and (max-width: 1300px) {
  body {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 1250px) {
  body {
    background-position: right 90%, 120% center;
  }
}
@media only screen and (max-width: 1200px) {
  body {
    background-position: right 90%, 140% center;
  }
}
@media only screen and (max-width: 1150px) {
  body {
    background-position: right 90%, 160% center;
  }
}
@media only screen and (max-width: 1110px) {
  body {
    background-position: right 90%, 180% center;
  }
}
@media only screen and (max-width: 1080px) {
  body {
    background-position: right 90%, 140% center;
  }
}
@media only screen and (max-width: 1050px) {
  body {
    background-position: right 90%, 200% center;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    background-image: url("../assets/desktop/bg-pattern-dots.svg"), url("../assets/tablet/image-host.jpg");
    background-position: 5% bottom, right top;
    margin: 50px 0 130px 39px;
  }
}
@media only screen and (max-width: 700px) {
  body {
    background-image: none;
    margin: 50px 24px 130px;
  }
  body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--color-dark-blue);
    background-image: url("../assets/tablet/image-host.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
  }
}
@media only screen and (max-width: 375px) {
  body::before {
    background-image: url("../assets/mobile/image-host.jpg");
    background-size: 100% 100%;
  }
}

h1, p {
  font-weight: var(--font-weight-light);
}

.button {
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-bold);
}

@media only screen and (max-width: 700px) {
  header {
    text-align: center;
  }
}

main {
  background-color: var(--color-dark-blue);
  margin-top: 103px;
  padding-top: 88px;
  height: 509px;
  width: 723px;
}
@media only screen and (max-width: 1080px) {
  main {
    height: 509px;
    width: 635px;
  }
}
@media only screen and (max-width: 1024px) {
  main {
    margin-top: 152px;
  }
}
@media only screen and (max-width: 700px) {
  main {
    background-color: transparent;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 50px;
    padding-top: 57px;
  }
}
@media only screen and (max-width: 650px) {
  main {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

main h1 {
  font-size: 5.2rem;
  line-height: var(--line-height-title);
  margin-bottom: 24px;
  text-transform: uppercase;
}
@media only screen and (max-width: 1080px) {
  main h1 {
    font-size: var(--font-size-title-tablet);
    line-height: 56px;
  }
}
@media only screen and (max-width: 650px) {
  main h1 {
    font-size: calc(var(--font-size-title-tablet) - 1rem);
    line-height: 38px;
  }
}
@media only screen and (max-width: 550px) {
  main h1 {
    font-size: var(--font-size-title-mobile);
  }
}
main .highlight {
  color: var(--color-green);
}
main p {
  line-height: var(--line-height-body);
  margin-bottom: 40px;
  padding-right: 278px;
}
@media only screen and (max-width: 1080px) {
  main p {
    padding-right: 200px;
  }
}
@media only screen and (max-width: 700px) {
  main p {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 650px) {
  main p {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 550px) {
  main p {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 450px) {
  main p {
    font-size: 1.5rem;
    padding: 0;
  }
}

main form {
  margin-bottom: 64px;
}
@media only screen and (max-width: 700px) {
  main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding: 0 60px;
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  main form {
    padding: 0;
  }
}
main form input {
  background-color: var(--color-dark-grey);
  border: none;
  border-radius: 28px;
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  height: 56px;
  width: 42.7rem;
  padding: 14px 32px;
}
@media only screen and (max-width: 700px) {
  main form input {
    margin-bottom: 16px;
    height: 4.6rem;
    width: 32.7rem;
  }
}
@media only screen and (max-width: 360px) {
  main form input {
    width: 100%;
  }
}
main form input::placeholder {
  font-weight: var(--font-weight-bold);
}
main form .button {
  background-color: var(--color-green);
  border: none;
  border-radius: 28px;
  color: var(--color-dark-blue);
  height: 46px;
  width: 16.2rem;
  transform: translateX(-17.2rem);
}
@media only screen and (max-width: 700px) {
  main form .button {
    transform: translateX(0);
    height: 4.6rem;
    width: 32.7rem;
  }
}
@media only screen and (max-width: 360px) {
  main form .button {
    width: 100%;
  }
}
main form .button:hover {
  background-color: var(--color-light-green);
  cursor: pointer;
}
main .inactive {
  display: none;
}
main .error {
  display: block;
  color: var(--color-red);
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  margin-left: 32px;
  margin-top: 8px;
}
@media only screen and (max-width: 700px) {
  main .error {
    margin-left: 0;
    margin-top: 0;
  }
}

main .logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 187px;
}
@media only screen and (max-width: 1080px) {
  main .logos {
    padding-right: 99px;
  }
}
@media only screen and (max-width: 700px) {
  main .logos {
    margin-bottom: 48px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 650px) {
  main .logos {
    padding: 0;
  }
}
@media only screen and (max-width: 550px) {
  main .logos .spotify {
    width: 8rem;
  }
  main .logos .apple {
    width: 7rem;
  }
  main .logos .google {
    width: 12rem;
  }
  main .logos .pocket {
    width: 9rem;
  }
}
@media only screen and (max-width: 450px) {
  main .logos .spotify {
    width: 5.6rem;
  }
  main .logos .apple {
    width: 4.5rem;
  }
  main .logos .google {
    width: 7.3rem;
  }
  main .logos .pocket {
    width: 7.7rem;
  }
}
@media only screen and (max-width: 360px) {
  main .logos .spotify {
    width: 4.6rem;
  }
  main .logos .apple {
    width: 3.5rem;
  }
  main .logos .google {
    width: 6.3rem;
  }
  main .logos .pocket {
    width: 6.7rem;
  }
}

/*# sourceMappingURL=index.css.map */
