@use 'mixins' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  max-width: 1440px;
}

body {
  background-color: var(--color-dark-blue);
  background-image: url('../assets/desktop/bg-pattern-dots.svg'), url('../assets/desktop/image-host.jpg');
  background-repeat: no-repeat;
  background-position: right 90%, right center;
  color: var(--color-silver);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-light);
  margin: 102px 0 130px 165px;
  height: 100%;

  @include respondTo(1300px) {
    margin-left: 100px;
  }
  
  @include respondTo(1250px) {
    background-position: right 90%, 120% center;
  }

  @include respondTo(1200px) {
    background-position: right 90%, 140% center;
  }

  @include respondTo(1150px) {
    background-position: right 90%, 160% center;
  }

  @include respondTo(1110px) {
    background-position: right 90%, 180% center;
  }

  @include respondTo(1080px) {
    background-position: right 90%, 140% center;
  }

  @include respondTo(1050px) {
    background-position: right 90%, 200% center;
  }

  @include respondTo(1024px) {
    background-image: url('../assets/desktop/bg-pattern-dots.svg'), url('../assets/tablet/image-host.jpg');
    background-position: 5% bottom, right top;
    margin: 50px 0 130px 39px;
  }

  @include respondTo(700px) {
    background-image: none;
    margin: 50px 24px 130px;
    
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: var(--color-dark-blue);
      background-image: url('../assets/tablet/image-host.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0.2;
    }
  }

  @include respondTo(375px) {
    &::before {
      background-image: url('../assets/mobile/image-host.jpg');
      background-size: 100% 100%;
    }
  }
}

h1, p {
  font-weight: var(--font-weight-light);
}

.button {
  font-size: var(--font-size-btn);
  font-weight: var(--font-weight-bold);
}