@use 'mixins' as *;

main {
  background-color: var(--color-dark-blue);
  margin-top: 103px;
  padding-top: 88px;
  height: 509px;
  width: 723px;

  @include respondTo(1080px) {
    height: 509px;
    width: 635px;
  }

  h1 {
    font-size: 5.2rem;
    line-height: var(--line-height-title);
    margin-bottom: 24px;
    text-transform: uppercase;

    @include respondTo(1080px) {
      font-size: var(--font-size-title-tablet);
    }
  }

  .highlight {
    color: var(--color-green);
  }

  p {
    line-height: var(--line-height-body);
    margin-bottom: 40px;
    padding-right: 278px;

    @include respondTo(1080px) {
      padding-right: 200px;
    }
  }

  form {
    margin-bottom: 64px;

    input {
      background-color: var(--color-dark-grey);
      border: none;
      border-radius: 28px;
      color: var(--color-white);
      font-weight: var(--font-weight-bold);
      height: 56px;
      width: 42.7rem;
      padding: 14px 32px;

      &::placeholder {
        font-weight: var(--font-weight-bold);
      }
    }

    .button {
      background-color: var(--color-green);
      border: none;
      border-radius: 28px;
      color: var(--color-dark-blue);
      height: 46px;
      width: 16.2rem;
      transform: translateX(-17.2rem);
      
      &:hover {
        background-color: var(--color-light-green);
        cursor: pointer;
      }
    }
  }

  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 187px;
  }
}