// Colors
:root {
  --color-green: #54E6AF;
  --color-light-green: #B3FFE2;
  --color-dark-blue: #121725;
  --color-white: #FFFFFF;
  --color-dark-grey: #2C344B;
  --color-light-grey: #5A668A;
  --color-silver: #C2CBE5;
  --color-red: #FB3E3E;
}

// Typography
:root {
  --font-family: 'Chivo', sans-serif;
  --font-weight-light: 300;
  --font-weight-bold: 700;

  --font-size-title: 5.2rem;
  --font-size-title-tablet: 4.8rem;
  --font-size-title-mobile: 2.6rem;
  --font-size-body: 1.8rem;
  --font-size-btn: 1.4rem;


  --line-height-title: 62px;
  --line-height-body: 28px;
}